/*Basic Styles*/
* {
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #3b1d1d;
    max-width: 100vw;
    min-height:100vw;}
   


h1 h2 h3 h4 h5 h6 {
    color:#be3455;
}
/*styles for top nav*/

.top_nav {
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;}

    /*styles for top nav menu items*/

.nav_list
    {display: flex;
    flex-direction: row;
    align-content:flex-start;
    list-style-type: none;
}

.top_nav h1{
    color:#fff;
    font-size: 1rem;
}
.nav_list li {
    padding: 0 0 0 1rem;}

    a {
        color: #fff;
        text-decoration:none;
    }

   /*styles for contact form*/

.contact_page h1
{color:#be3455;}

.contact
{display:flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
padding:1rem;
row-gap: 1rem;}

.contact button {
    background-color: #be3455;
    border: #be3455 solid 1px;
    padding: .2rem;
    color: #fff;}







/*styles for main section styling*/

.bodytext {

    padding: 1rem;
}






img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 500px;
    }


.header {
    background-image:url("../assets/viva_magenta_header_background.jpg");
    padding: 1rem;
} 

