/*Basic Styles*/
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #3b1d1d;
    margin: 0;
    padding:0;   
} 

h1 h2 h3 h4 h5 h6 {
    color:#be3455;
}

nav ul {
    list-style-type: none;
    color: inherit;
    font-size:inherit;}


/*styles for top nav*/

.top_nav {

}



/*styles for main section styling*/

.bodytext {

    padding: 1rem;
}






img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 500px;
    }


.header {
    background-image:url("../assets/viva_magenta_header_background.jpg");
    color: #fff;
    padding: 1rem;
} 

.header h1 {
    font-size: 1rem;
    color: #fff;
}